/* Write your code here. */

@media (min-width: 768px) {
  #root {
    background-color: #0f172a;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 576px) {
  #root {
    background-color: #0f172a;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
}

.heading {
  color: #f8fafc;
  font-family: "Roboto";
  font-size: 40px;
  font-weight: 700;
}

.image {
  width: 200px;
}
